<app-header></app-header>

<main>
  <!-- kipper consultoria -->
  <section class="main-section padding-80">
    <div class="headlin">
      <span>Kipper consultoria</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>
    <img ngSrc="./assets/principal.png" width="497" height="388" priority />
  </section>
  <!-- section das empresas-->
  <section class="benefit-section padding-80">
    <div class="benefit-data">
      <h2>
        95% das <br />
        empresas
      </h2>
    </div>
    <p>
      não sabem como lidar com problemas de <b>escalibilidade</b> e grande
      volume de requisições
    </p>
  </section>
  <!-- section button  -->
  <section class="btn-primary">
    <btn-primeiro btn-text="fale com nossos especialistas"></btn-primeiro>
  </section>

  <new-sletter-form></new-sletter-form>
  <beneficio></beneficio>

  <section class="section-cta">
    <p>Quer elevar seu software e seus negócios para outro nível?</p>
  </section> 

  <section class="btn-primary">
    <btn-primeiro btn-text="fale com nossos especialistas"></btn-primeiro>
  </section>
  
  <footer></footer>
</main>
