.section-beneficio{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: Poppins;
    gap: 42px;
 
    .Comentario1{
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     justify-content: center;
     
     span{
         font-weight: bold;
         font-size: 28px;
         margin-top: 25px;
         margin-bottom: 12px;
         color: #0D002E;
     }
     p{
        font-weight: 400;
        font-size: 16px;
        color: #475569;
     }
  }
}

@media (min-width: 1080px)
{
    .section-beneficiomain-section{
    flex-direction: row;
    }
    .Comentario1{
        flex-direction: row;
    }
}