<section class="section-beneficio padding-80">
  <div class="Comentario1">
    <img ngSrc="./assets/team.png" width="609" height="588" />
    <span>Equipe capacitada</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
      officia numquam neque voluptatem exercitationem rem odit illo minus
      adipisci at dolores quidem. Expedita veniam excepturi eius repellendus
      aliquam, quibusdam molestiae!
    </p>
  </div>

  <div class="Comentario1">
    <img ngSrc="./assets/project-guide.png" width="609" height="588" />
    <span>Seus projetos guiados do zero</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
      officia numquam neque voluptatem exercitationem rem odit illo minus
      adipisci at dolores quidem. Expedita veniam excepturi eius repellendus
      aliquam, quibusdam molestiae!
    </p>
  </div>
</section>
