<section class="section-footer">
  <section class="section-grup-icons">
    <div class="div-icons">
      <a href="#"
        ><img ngSrc="./assets/Frame.png" alt="Frame" width="35" height="35"
      /></a>
    </div>

    <div class="div-icons">
      <a href="#"
        ><img ngSrc="./assets/LOG.png" alt="logo" width="50" height="25"
      /></a>
    </div>
  </section>

  <section class="section-grup-icons">
    <div class="div-icons">
      <a href="#"
        ><img ngSrc="./assets/insta.png" alt="instagram" width="35" height="35"
      /></a>
    </div>

    <div class="div-icons">
      <a href="#"
        ><img ngSrc="./assets/face.png" alt="facebook" width="35" height="35"
      /></a>
    </div>
  </section>
</section>
